body{
    background-color: blue
}

input {
    width: 100px;
    display: block;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 15px;


}
button {
    font-size: 20px;
    color: white;
    padding: 15px 30px;
    border: 0;
    background-color: black;
  }
  
  button:hover {
    cursor: pointer;
  }
  body {
    background-color: blue;
  }
  
  #list { 
    background-color: white;
    padding: 10px;
  }
  
  .item {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding: 10px;
  }
  
  .item img {
    width: 40px;
    margin-right: 20px;
  }
  
  button {
    font-size: 20px;
    color: white;
    padding: 15px 30px;
    border: 0;
    background-color: black;
  }
  
  button:hover {
    cursor: pointer;
  }